* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #34db8a;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #34db8a;
}
.carousel-slider {
  border-radius: 10px;
}
.carousel .thumbs-wrapper {
  margin: 0 !important;
}
.carousel .thumbs-wrapper .thumbs {
  padding: 0 !important;
}
.slideImageContainer {
  height: 100%;
}
.slideImageContainer img {
  height: 100%;
}
